<span class="reading-time" title="Estimated read time">
  {% assign page_layout = page.layout %}
  {% if page_layout == 'post' %}
  {% assign post_date = page.date %}
  {% else %}
  {% assign post_date = post.date %}
  {% endif %}
  
  {% assign current_time = 'now' | date: '%s' %}
  {% assign post_time = post_date | date: '%s' %}
  {% assign time_difference = current_time | minus: post_time %}
  
  {% if time_difference < 60 %}
    {{ time_difference }} 초 전
  {% elsif time_difference < 3600 %}
    {% assign minutes = time_difference | divided_by: 60 %}
    {{ minutes }} 분 전
  {% elsif time_difference < 86400 %}
    {% assign hours = time_difference | divided_by: 3600 %}
    {{ hours }} 시간 전
  {% elsif time_difference < 2592000 %}
    {% assign days = time_difference | divided_by: 86400 %}
    {{ days }} 일 전
  {% elsif time_difference < 31536000 %}
    {% assign months = time_difference | divided_by: 2592000 %}
    {{ months }} 개월 전
  {% elsif time_difference < 31536000 %}
    {% assign years = time_difference | divided_by: 31536000 %}
    {{ years }} 년 전
  {% else %}
    {{ time_difference }} 초전
  {% endif %}
</span>
