<span class="reading-time" title="Estimated read time">
  {% assign post_date = page.date %}
  {% assign current_time = 'now' | date: '%s' %}  <!-- 현재 시간을 초 단위로 가져오기 -->
  {% assign post_time = post_date | date: '%s' %}  <!-- 게시된 시간도 초 단위로 변환 -->

  {% assign time_difference = current_time | minus: post_time %}  <!-- 두 시간의 차이 계산 -->

  {% assign seconds_in_month = days_in_month | times: 86400 %}
  {% assign seconds_in_year  = days_in_year  | times: 86400 %}
  
  {% if time_difference < 60 %}
    {{ time_difference }} 초 전
  {% elsif time_difference < 3600 %}
    {% assign minutes = time_difference | divided_by: 60 %}
    {{ minutes }} 분 전
  {% elsif time_difference < 86400 %}
    {% assign hours = time_difference | divided_by: 3600 %}
    {{ hours }} 시간 전
  {% elsif time_difference < 2592000 %}
    {% assign days = time_difference | divided_by: 86400 %}
    {{ days }} 일 전
  {% elsif time_difference < seconds_in_year %}
    {% assign months = time_difference | divided_by: seconds_in_month %}
    {{ months }} 개월 전
  {% else %}
    {% assign years = time_difference | divided_by: seconds_in_year %}
    {{ years }} 년 전
  {% endif %}
 </span>
